body {
    display: flex;
}

table, tr, th, thead, td {
    border-collapse: collapse;
    border: 1px solid black;
}

.tabla-1 {
    width: 27rem;
}

.imagen {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}